* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 70%;
    margin: 0 auto;
}

/* Header > nav */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

#navbar__content {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}

#navbar__titulo {
    font-size: 1.3rem;
    color: rgb(0, 0, 46);

}

#navbar__navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacao__li {
    margin: 0 1rem;
    list-style: none;
    font-size: 1.2rem;
}

.navegacao__a {
    text-decoration: none;
    color:  rgb(41, 41, 41);
}

.navegacao__a:hover {
    transition: all .3s ease;
    color:  rgba(41, 41, 41, 0.459);
}

/* Header > apresentacao */

#apresentacao {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

#apresentacao__container_conteudo {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#apresentacao__titulo {
    text-transform: uppercase;
    line-height: 4.6rem;
    font-size: 3.5rem;
    color: rgb(0, 0, 46);
}

#apresentacao__paragrafo {
    line-height: 2rem;
    padding: 1rem 0;
    color: rgb(0, 0, 46);
}

.button {
    width: 6rem;
    background-color: rgb(41, 41, 41);
    padding: .6rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

#container__apresentacao_img {
    position: relative;
}

#apresentacao__img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    z-index: 9999;
}

#apresentacao__img_auxiliar {
    position: absolute;
    left: 10px;
    bottom: 320px;
    z-index: -111;
}

/* main conteudo da pagina */

#container__sobre {
    padding-top: 120px;
    display: flex;
    height: 100vh;
}

#container__sobre_titulo {
    font-size: 3rem;
    color: rgb(0, 0, 46);
}

#container__sobre_paragrafo {
    line-height: 2rem;
    color: rgb(0, 0, 46);
    padding: 2rem 0;
}

#container__icones {
    display: flex;
    justify-content: space-around;
    width: 10rem;
}

.sobre__icones {
    font-size: 1.5rem;
    color: rgb(0, 0, 46);
}

#sobre__inf {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

#sobre__inf_titulo {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(0, 0, 46);
}

#sobre__inf_paragrafo {
    padding-top: 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
    color: rgb(0, 0, 46);
    font-weight: 600;
    text-align: justify;
}