* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
}

/* Header > nav */

#navbar {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

#navbar__titulo {
    font-size: 1.3rem;
    padding-bottom: 1.4rem;
    color: rgb(0, 0, 46);

}

#navbar__navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacao__li {
    margin: 0 1rem;
    list-style: none;
    font-size: 1.2rem;
}

.navegacao__a {
    text-decoration: none;
    color:  rgb(41, 41, 41);
}

.navegacao__a:hover {
    color:  rgba(41, 41, 41, 0.459);
}

/* Header > apresentacao */

#apresentacao {
    display: flex;
    justify-content: space-between;
}

#apresentacao__container_conteudo {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#apresentacao__titulo {
    text-transform: uppercase;
    line-height: 4.6rem;
    font-size: 3.5rem;
    color: rgb(0, 0, 46);
}

#apresentacao__paragrafo {
    line-height: 2rem;
    padding: 1rem 0;
}

.button {
    width: 6rem;
    background-color: rgb(41, 41, 41);
    padding: .6rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

#opa {
    position: relative;
}

#apresentacao__img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    z-index: 9999;
}

#apresentacao__img_auxiliar {
    position: absolute;
    left: 10px;
    bottom: 320px;
    z-index: -111;
}